# Unity folders and files
[Aa]ssets/AssetStoreTools*
[Bb]uild/
[Ll]ibrary/
[Ll]ocal[Cc]ache/
[Oo]bj/
[Tt]emp/
[Uu]nityGenerated/

UnityProject/[Aa]ssets/AssetStoreTools*
UnityProject/[Bb]uild/
UnityProject/[Ll]ibrary/
UnityProject/[Ll]ocal[Cc]ache/
UnityProject/[Oo]bj/
UnityProject/[Tt]emp/
UnityProject/[Uu]nityGenerated/

# File on crash reports
sysinfo.txt

# Unity3D generated meta files
*.pidb.meta

# VS/MD solution and project files
[Ee]xportedObj/
*.booproj
*.csproj
*.sln
*.suo
*.svd
*.unityproj
*.user
*.userprefs
*.pidb

#Builds
*.apk
*.unitypackage
