# Unity folders and files
[Aa]ssets/AssetStoreTools*
[Bb]uild/
[Ll]ibrary/
[Ll]ocal[Cc]ache/
[Oo]bj/
[Tt]emp/
[Uu]nityGenerated/

UnityProject/[Aa]ssets/AssetStoreTools*
UnityProject/[Bb]uild/
UnityProject/[Ll]ibrary/
UnityProject/[Ll]ocal[Cc]ache/
UnityProject/[Oo]bj/
UnityProject/[Tt]emp/
UnityProject/[Uu]nityGenerated/
UnityProject/.vs/
UnityProject/*.csproj
UnityProject/*.sln
UnityProject/obj/

/UnityProject/Assets/AssetStoreTools*
/UnityProject/Build/
/UnityProject/Library/
/UnityProject/[Ll]ocal[Cc]ache/
/UnityProject/Obj/
/UnityProject/Temp/
/UnityProject/UnityGenerated/
/UnityProject/.vs/
/UnityProject/*.csproj
/UnityProject/*.sln
/UnityProject/obj/

# File on crash reports
sysinfo.txt

# Unity3D generated meta files
*.pidb.meta

# VS/MD solution and project files
[Ee]xportedObj/
*.booproj
*.csproj
*.sln
*.suo
*.svd
*.unityproj
*.user
*.userprefs
*.pidb

#Builds
*.apk
*.unitypackage
UnityProject/Builds/UnityProject_Data/boot.config
UnityProject/Builds/UnityProject_Data/globalgamemanagers
UnityProject/Builds/UnityProject_Data/globalgamemanagers.assets
UnityProject/Builds/UnityProject_Data/level0
UnityProject/Builds/UnityProject_Data/level1
UnityProject/Builds/UnityProject_Data/Managed/Assembly-CSharp.dll
UnityProject/Builds/UnityProject_Data/Managed/Assembly-CSharp.pdb
UnityProject/Builds/UnityProject_Data/Managed/NavMeshComponents.dll
UnityProject/Builds/UnityProject_Data/Managed/Unity.Postprocessing.Runtime.dll
UnityProject/Builds/UnityProject_Data/Managed/Unity.ProGrids.dll
UnityProject/Builds/UnityProject_Data/Managed/Unity.TextMeshPro.dll
UnityProject/Builds/UnityProject_Data/resources.assets
UnityProject/Builds/UnityProject_Data/sharedassets0.assets
UnityProject/Builds/UnityProject_Data/sharedassets1.assets
UnityProject/Builds/UnityProject_Data/sharedassets1.assets.resS
UnityProject/Builds/UnityProject_Data/boot.config
UnityProject/Builds/UnityProject_Data/globalgamemanagers
UnityProject/Builds/UnityProject_Data/globalgamemanagers.assets
UnityProject/Builds/UnityProject_Data/level0
UnityProject/Builds/UnityProject_Data/level1
UnityProject/Builds/UnityProject_Data/Managed/Assembly-CSharp.dll
UnityProject/Builds/UnityProject_Data/Managed/Assembly-CSharp.pdb
UnityProject/Builds/UnityProject_Data/Managed/NavMeshComponents.dll
UnityProject/Builds/UnityProject_Data/Managed/Unity.Postprocessing.Runtime.dll
UnityProject/Builds/UnityProject_Data/Managed/Unity.ProGrids.dll
UnityProject/Builds/UnityProject_Data/Managed/Unity.TextMeshPro.dll
UnityProject/Builds/UnityProject_Data/resources.assets
UnityProject/Builds/UnityProject_Data/sharedassets0.assets
UnityProject/Builds/UnityProject_Data/sharedassets1.assets
UnityProject/Builds/UnityProject_Data/sharedassets1.assets.resS
UnityProject/Builds/UnityProject_Data/boot.config
UnityProject/Builds/UnityProject_Data/globalgamemanagers
UnityProject/Builds/UnityProject_Data/globalgamemanagers.assets
UnityProject/Builds/UnityProject_Data/level0
UnityProject/Builds/UnityProject_Data/level1
UnityProject/Builds/UnityProject_Data/Managed/Assembly-CSharp.dll
UnityProject/Builds/UnityProject_Data/Managed/Assembly-CSharp.pdb
UnityProject/Builds/UnityProject_Data/Managed/NavMeshComponents.dll
UnityProject/Builds/UnityProject_Data/Managed/Unity.Postprocessing.Runtime.dll
UnityProject/Builds/UnityProject_Data/Managed/Unity.ProGrids.dll
UnityProject/Builds/UnityProject_Data/Managed/Unity.TextMeshPro.dll
UnityProject/Builds/UnityProject_Data/resources.assets
UnityProject/Builds/UnityProject_Data/sharedassets0.assets
UnityProject/Builds/UnityProject_Data/sharedassets1.assets
UnityProject/Builds/UnityProject_Data/sharedassets1.assets.resS
